@model TrueLearn.Models.Course

@{
    ViewBag.Title = "Create Course";
}


<script src="https://kit.fontawesome.com/82b062aa43.js"></script>
<link rel="stylesheet" href="~/Content/styles.css" />
<script rel="js" src="~/Content/main.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-right: auto; margin-left: auto;">
        <h2>Create</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.provider, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EnumDropDownListFor(model => model.provider, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.provider, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.url, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EnumDropDownListFor(model => model.status, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.tracked, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.tracked)
                        @Html.ValidationMessageFor(model => model.tracked, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@


        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <a class="nav-link" href="~/Courses/Index" title="Back to Courses">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12 m-0 p-0">
                        <input type="submit" value="Create" class="submit" style="margin-left: auto" />
                    </div>
                </div>
            </div>
            <div class="form-group">

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
