@model IEnumerable<TrueLearn.Models.ApplicationUser>

@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>



@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.senderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receiverId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.triggered)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
