@model IEnumerable<TrueLearn.Models.Certificate>

@{
    ViewBag.Title = "Index";
}
<script src="https://kit.fontawesome.com/82b062aa43.js"></script>
<link rel="stylesheet" href="~/Content/styles.css" />
<script rel="js" src="~/Content/main.js"></script>
<script rel="js" src="~/Content/assets/js/fullcalendar.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/assets/css/fullcalendar.css" />


<div class="col-sm">
    <p>
        @*@Html.ActionLink("Create New", "Create")*@
        <a class="nav-link" href="~/Certificates/Create" title="Upload Certificate">
            <i class="fa fa-upload fa-2x" style="color: white;"></i>
        </a>
    </p>
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CertificatePath)
        </th>
        <th></th>
    </tr>
    </table>
*@


@foreach (var item in Model)
{
    <img src="@Url.Content(item.CertificatePath)" id="myImg" width="300" height="200" style="margin: 10px; box-shadow: 7px 7px 8px black;" />

    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
        <button>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
    </div>


    @*</td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        </tr>*@
}

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption

    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");


    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>

