@model IEnumerable<TrueLearn.Models.Certificate>

@{
    ViewBag.Title = "Index";
}
<script src="https://kit.fontawesome.com/82b062aa43.js"></script>
<link rel="stylesheet" href="~/Content/styles.css" />
<script rel="js" src="~/Content/main.js"></script>
<script rel="js" src="~/Content/assets/js/fullcalendar.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/assets/css/fullcalendar.css" />


<div class="col-sm-1">
    <p>
        @*@Html.ActionLink("Create New", "Create")*@
        <a class="nav-link" href="~/Certificates/Create" title="Upload Certificate">
            <i class="fa fa-upload fa-2x" style="color: white;"></i>
        </a>
    </p>
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CertificatePath)
        </th>
        <th></th>
    </tr>
    </table>
*@

@foreach (var item in Model)
{
    <img src="@Url.Content(item.CertificatePath)" id="myImg" width="300" height="200" style="margin: 10px; box-shadow: 7px 7px 8px black;" onclick="openModal();" />

    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <img class="modal-content" src="@Url.Content(item.CertificatePath)">
        <button type="button" class="btn btn-danger" style="margin: 50px; margin-left: 45%;">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
    </div>


    @*</td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        </tr>*@


    @*<script>
            var modal = document.getElementById("myModal");
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");


            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
            }


            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
                modal.style.display = "none";
            }

        </script>*@
    
    <script>
        // Open the Modal
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        // Close the Modal
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        var slideIndex = 0;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
        var span = document.getElementsByClassName("close")[0];
    </script>

}



