@model TrueLearn.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<script src="https://kit.fontawesome.com/82b062aa43.js"></script>
<link rel="stylesheet" href="~/Content/styles.css" />
<script rel="js" src="~/Content/main.js"></script>
<script rel="js" src="~/Content/assets/js/fullcalendar.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/assets/css/fullcalendar.css" />

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>Create a new account.</h4>
        </div>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-6">

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.first_name, new { @class = "col control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.first_name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.last_name, new { @class = "col control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.last_name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.birth_date, new { @class = "col control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.birth_date, new { @class = "form-control", @type = "date" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.country, new { @class = "col control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.country, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="flex-grow-1">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" class="submit" value="Register" />
            </div>
        </div>
    </div>
    <div class="flex-grow-1">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" class="submit" value="Already Have an Account?" />
            </div>
        </div>
    </div>
</div>



}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
