@model IEnumerable<TrueLearn.Models.ChatNotification>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiver)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receiver)
        </td>
    </tr>
}

</table>
