@model IEnumerable<TrueLearn.ViewModels.ChatNotificationViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.friend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.friend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.ActionLink("Chat", "Chat", "PersonalChat", new { friendId = item.FriendId }, null)
            </td>
        </tr>
    }

</table>
