@model TrueLearn.ViewModels.PersonalChatViewModel

@{
    ViewBag.Title = "Chat";
}

<script src="https://kit.fontawesome.com/82b062aa43.js"></script>
<link rel="stylesheet" href="~/Content/styles.css" />
<script rel="js" src="~/Content/main.js"></script>
<script rel="js" src="~/Content/assets/js/fullcalendar.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .message {
        border-radius: 25px;
        padding: 15px;
        width: 60%;
        font: 14px/22px "Lato", Arial, sans-serif;
        color: white;
    }

    textarea {
        width: 90%;
        padding: 20px;
        border-radius: 10px;
        resize: none;
        margin-top: 20px;
    }

    button {
        float: right;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 25px;
        cursor: pointer;
        font-weight: bold;
        padding: 15px;
        margin-top: 10px;
        background-color: #9f72b0;
        color: white;
        float: inherit;
        transition: 0.7s;
    }

    .message.you {
        background-color: #9f72b0;
        float: right;
        margin-right: 17px;
    }

    .message.friend {
        background-color: #a7abab;
        float: left;
        margin-right: 17px;
    }

    button:hover {
        background-color: white;
        color: #9f72b0;
        transition: 0.7s;
    }

    .chatwindow {
        overflow: auto;
        height: 50vh;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.4) !important;
        border: 1px !important;
        border-radius: 15px !important;
        font-family: 'Titillium Web', sans-serif;
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 3%;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
</style>
<div class="container">
    <div class="chatwindow" id="messages">
        @foreach (var message in Model.Messages)
        {
            <p class="@("message " + (message.sender == User.Identity.Name ? "you" : "friend"))" id="messages"><b>@(@message.sender == User.Identity.Name ? "Me" : message.sender )  : </b>@message.text</p>
        }
    </div>
    <div>
        @Html.HiddenFor(model => model.Friend.UserName, new { id = "friend" })
        @Html.HiddenFor(model => model.Chat.Id, new { id = "chatId" })
        <div class="chat-message clearfix">
            <textarea name="message" id="message" placeholder="Type your message" rows="1"></textarea>
            <button id="send">Send</button>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(document).ready(() => {
            let chat = $.connection.PersonalChatHub;



            chat.client.gotMessage = (from, message) => {
                $('#messages').append(`<p class="message friend"> ${from}: ${message}</p>`);
                var objDiv = document.getElementById("messages");
                objDiv.scrollTop = objDiv.scrollHeight;

            }

            $.connection.hub.start().done(() => {
                $('#send').click(() => {
                    chat.server.sendToUser($('#chatId').val(), $('#friend').val(), $('#message').val());

                    $('#messages').append(`<p class="message you">Me: ${$('#message').val()}</p>`);
                    $('#message').val('').focus();
                    var objDiv = document.getElementById("messages");
                    objDiv.scrollTop = objDiv.scrollHeight;
                });
            });

        });

    </script>
}
