@model TrueLearn.ViewModels.PersonalChatViewModel

@{
    ViewBag.Title = "Chat";
}
<style>
.message{
  border-radius: 25px;
  padding: 15px;
  width: 60%;
  font: 14px/22px "Lato", Arial, sans-serif;
  color: white;
}
textarea{
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  margin-top: 20px;
}

button {
      float: right;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 25px;
      cursor: pointer;
      font-weight: bold;
      padding: 15px;
      margin-top: 10px;
      background-color: #9f72b0;
  color: white;
      float: inherit;
  transition: 0.7s;
}    
      
.message:nth-child(n){
  background-color: #9f72b0;
  float: right;
}

.message:nth-child(2n){
  background-color: #a7abab;
  float: left;
}
button:hover{
  background-color: white;
  color: #9f72b0;
  transition: 0.7s;
}
.chatwindow{
    overflow: auto;
    height: 60vh;
}
.container{
background-color: rgba(255, 255, 255, 0.4) !important;
    border: 1px !important;
    border-radius: 15px !important;
    font-family: 'Titillium Web', sans-serif;
}

</style>
<div class="contrainer">
    <div class="chatwindow" id="messages">
        @foreach (var message in Model.Messages)
        {
            <p class="message" id="messages"><b>@message.sent  | @message.sender  : </b>@message.text</p>
        }
    </div>
    <div>
        @Html.HiddenFor(model => model.Friend.UserName, new { id = "friend" })
        @Html.HiddenFor(model => model.Chat.Id, new { id = "chatId" })
        <div class="chat-message clearfix">
            <textarea name="message" id="message" placeholder="Type your message" rows="1"></textarea>
            <button id="send">Send</button>
        </div>
    </div>
</div>


    @section scripts {
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            $(document).ready(() => {
                let chat = $.connection.PersonalChatHub;



                chat.client.gotMessage = (from, message) => {
                    $('#messages').append(`<p class="message"> ${from}: ${message}</p>`);
                }

                $.connection.hub.start().done(() => {
                    $('#send').click(() => {
                        chat.server.sendToUser($('#chatId').val(), $('#friend').val(), $('#message').val());

                        $('#messages').append(`<p class="message">Me: ${$('#message').val()}</p>`);
                        $('#message').val('').focus();

                    });
                });

            });
        </script>
    }
